<!DOCTYPE html>
<html>
<head lang="zh">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <title></title>
    <link href="../src/qui.css" type="text/css" rel="stylesheet"/>

    <script src="qmik.js?107" type="text/javascript"></script>

</head>
<body>
<div class="page">
    <ul>
        <li q-ctrl="demoTip" q-onclick="clickTip">
            <p></p>

            <div>
                <span class=" qui-btn tip" router="click/tip">信息提示框</span>
                <span class="btn qui-btn alert" router="click/alert">alert框</span>
                <span class="btn qui-btn confirm" router="click/confirm">确认confirm框</span>
                <span class="btn qui-btn loading" router="click/loading">load</span>
                <span class="btn qui-btn popView" router="click/popView">iframe</span>
            </div>
        </li>

    </ul>

</div>
</body>
<script type="text/javascript">

    var base = location.protocol +"//"+location.host+ location.pathname.replace(/[^\/]*$/,"");
    $.config({
        base: base
    });
    $.sun.config({
        vars: {
            version:"100015"
        }
    });
    $.use("/qui/src/qui.js?"+ $.now());
    $.app().ctrl({
        demoTip: function (scope) {
            $.use("demoTip.js?"+ $.now(), function(demo){
                demo.init(scope);
            });
        }
    });

</script>
</html>